<!doctype html>
<html>
<head>
  <title>Remote Control | {{ hostname }}</title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <style>
    html {
      font-family: Sans-Serif;
    }

    fieldset {
      float: block;
    }
  </style>

  <script>
    const volumeURL = "{{ url_for('handle_volume') }}";
    const muteURL = "{{ url_for('handle_mute') }}";

    async function getVolume() {
      const response = await fetch(volumeURL);
      if (!response.ok) {
        throw new Error('Bad Response:', response)
      }
      const data = await response.json();
      return data['volume'];
    }
    
    async function setVolume(value) {
      await fetch(volumeURL, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',            
        },
        body: JSON.stringify({
          volume: value,
        }),
      });
    }
    
    async function getMute() {
      const response = await fetch(muteURL);
      if (!response.ok) {
        throw new Error('Bad Response:', response)
      }
      const data = await response.json();
      return data['mute'];
    }
    
    async function setMute(value) {
      await fetch(muteURL, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',            
        },
        body: JSON.stringify({
          mute: value,
        }),
      });
    }

  function init() {
    const syncButton = document.getElementById('sync-button');
    syncButton.addEventListener('click', syncUI);
    
    const volumeSlider = document.getElementById('volume-slider');
    const volumeValue = document.getElementById('volume-value');

    // Update UI with volume set on slider
    volumeSlider.addEventListener('input', function() {
      volumeValue.innerHTML = volumeSlider.value;
    });
    
    // Submit volume set on slider to remote
    volumeSlider.addEventListener('change', function() {
      setVolume(volumeSlider.value)
        .catch(error => console.log(error));
    });
    
    const muteToggle = document.getElementById('mute-toggle');

    muteToggle.addEventListener('change', function() {
      setMute(muteToggle.checked)
        .catch(error => console.log(error));
    });


    document.addEventListener('keyup', event => {
      if (event.code === 'Space') {
        muteToggle.checked = !muteToggle.checked;
        setMute(muteToggle.checked)
          .catch(error => console.log(error));
      }
    });
    
    function syncUI() {
      getVolume() 
        .then((value) => {
          volumeSlider.value = value;
          volumeValue.innerHTML = value;
        })
        .catch(error => console.log(error));
      getMute() 
        .then((value) => {
          muteToggle.checked = value;
        })
        .catch(error => console.log(error));
    }

    // Initialize UI
    syncUI();
  }
  </script>
</head>

<body>
  <h1>Remote Control</h1>
  <hr>
  <h2>Audio</h2>

  <form>
    <fieldset>
      <legend>State</legend>
      <input type="button" value="Sync" id="sync-button" name="sync" />
      <label for="sync-button">Remote state may change if there are multiple clients.</label>
    </fieldset>
    <fieldset>
      <legend>Volume</legend>
      <input type="range" min="0" max="100" value="0" name="volume-slider" id="volume-slider" />
      <label for="volume-slider"><tt id="volume-value">0</tt></label>
    </fieldset>
    <fieldset>
      <legend>Mute</legend>
      <input type="checkbox" id="mute-toggle" name="mute-toggle" />
      <label for="mute-toggle">Press <tt>&lt;Space&gt;</tt> to toggle.</label>
    </fieldset>
  </form>
  <br>
  <hr>
  
  <h2>Info</h2>
  <form>
    <fieldset>
      <legend>Hostname</legend>
      <b><tt>{{ hostname }}</tt> </b>
    </fieldset>
  </form>
</body>

<script>
  init()
</script>

</html>
